<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.AppConstMapper" >
    <insert id="insertRecord" parameterType="AppConst" useGeneratedKeys="true" keyProperty="id">
        insert into app_const(`id`, `name`, `value`,`detail`)
        values(#{id}, #{name}, #{value}, #{detail})
    </insert>
    <update id="update" parameterType="AppConst">
        update app_const set name = #{name}, value=#{value}, detail=#{detail} where id=#{id}
    </update>
    <update id="updateAppConstSeq" parameterType="AppConstParam">
        update app_const set seq=case
        <foreach collection="appConstIds" item="appConstId" index="index">
            when id=#{appConstId} then #{index}
        </foreach>
        end
        where name=#{name} and id in
        <foreach collection="appConstIds" item="appConstId" index="index" separator="," open="(" close=")">
            #{appConstId}
        </foreach>
    </update>
    <select id="findList" resultType="AppConst" parameterType="Query">
        <include refid="com.jones.mars.repository.CommonMapper.startPage" />
        select * from app_const where 1=1
        <if test="name != null and name !=''">
            and name = #{name}
        </if>
        <if test="nameLike != null and nameLike !=''">
            and name like concat('%', #{nameLike}, '%')
        </if>
        order by name,seq
        <include refid="com.jones.mars.repository.CommonMapper.endPage" />
    </select>
    <resultMap id="AppConstMap" type="AppConst" >
        <result column="name" property="name" />
        <collection property="values" ofType="java.lang.String" column="name">
            <result column="group_value" property="blockId"/>
        </collection>
    </resultMap>
    <select id="findGroup" resultMap="AppConstMap">
        select name, value as group_value from app_const
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from app_const where 1=1
        <if test="name != null and name !=''">
            and name = #{name}
        </if>
    </select>
    <select id="findAllName" resultType="java.lang.Object" parameterType="Query">
        select id, name from app_const
        order by name
    </select>
    <select id="findAll" resultType="AppConst" parameterType="Query">
        select * from app_const where 1=1
        <if test="name != null and name !=''">
            and name = #{name}
        </if>
        order by name,seq,id
    </select>
    <select id="findOne" resultType="AppConst">
        select * from app_const where id=#{id}
    </select>
    <delete id="delete">
        delete from app_const where id=#{id}
    </delete>
</mapper>