<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.BlockClassMapper" >
    <insert id="insert" parameterType="BlockClass" useGeneratedKeys="true" keyProperty="id">
        insert into block_class(`name`, `module_id`)
        values(#{name}, #{moduleId})
    </insert>
    <insert id="update" parameterType="BlockClass">
        update block_class set name = #{name} where id=#{id}
    </insert>
    <select id="findList" resultType="BlockClass" parameterType="Query">
        <include refid="com.jones.mars.repository.BaseMapper.startPage" />
        select c.* from block_class c left join block_module m on c.module_id = m.id
        where c.delete_flg=0
        <if test="moduleId != null">
            and module_id = #{moduleId}
        </if>
        <if test="blockId != null">
            and m.block_id = #{blockId}
        </if>
        order by c.seq,c.name
        <include refid="com.jones.mars.repository.BaseMapper.endPage" />
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from block_class c left join block_module m on c.module_id = m.id
        where c.delete_flg=0
        <if test="moduleId != null">
            and module_id = #{moduleId}
        </if>
        <if test="blockId != null">
            and m.block_id = #{blockId}
        </if>
    </select>
    <select id="findAllName" resultType="java.lang.Object" parameterType="Query">
        select c.* from block_class c left join block_module m on c.module_id = m.id
        where c.delete_flg=0
        <if test="moduleId != null">
            and module_id = #{moduleId}
        </if>
        <if test="blockId != null">
            and m.block_id = #{blockId}
        </if>
        order by c.seq,c.name
    </select>
    <update id="updateBlockClassSeq" parameterType="BlockClassParam">
        update block_class set seq=case
        <foreach collection="classIds" item="classId" index="index">
            when id=#{classId} then #{index}
        </foreach>
        end
        where module_id=#{moduleId} and id in
        <foreach collection="classIds" item="classId" index="index" separator="," open="(" close=")">
            #{classId}
        </foreach>
    </update>
    <select id="findAll" resultType="BlockClass" parameterType="Query">
        select c.* from block_class c left join block_module m on c.module_id = m.id
        where c.delete_flg=0
        <if test="moduleId != null">
            and module_id = #{moduleId}
        </if>
        <if test="blockId != null">
            and m.block_id = #{blockId}
        </if>
        order by c.seq,c.name
    </select>
    <select id="findOne" resultType="BlockClass">
        select * from block_class where id=#{id}
    </select>
    <delete id="delete">
        delete from block_class where id=#{id}
    </delete>
</mapper>