<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.BlockMapper" >
    <resultMap id="BlockMap" type="Block" >
        <id column="blockId" property="id" />
        <result column="enterprise_id" property="enterpriseId" />
        <result column="blockName" property="name" />
        <result column="blockDetail" property="detail" />
        <result column="blockStatus" property="status" />
        <collection property="moduleList" ofType="BlockModule" column="blockId">
            <id column="moduleId" property="id"/>
            <result column="blockId" property="blockId"/>
            <result column="moduleName" property="name"/>
            <collection property="classList" ofType="BlockClass" column="moduleId">
                <id column="classId" property="id"/>
                <result column="module_id" property="moduleId"/>
                <result column="className" property="name"/>
                <result column="operation" property="operation"/>
            </collection>
        </collection>
    </resultMap>
    <select id="findBlockModule" resultMap="BlockMap" parameterType="Query">
        select m.id as moduleId, m.block_id as blockId, m.name as moduleName, c.id as classId, c.name as className, c.module_id, b.id as blockId, b.enterprise_id as enterprise_id, b.name as blockName, b.status as blockStatus, b.detail as blockDetail
        from block b left join block_module m on b.id=m.block_id left join block_class c on m.id=c.module_id
        where m.delete_flg=0
        <if test="enterpriseId != null">
            and b.enterprise_id=#{enterpriseId}
        </if>
        <if test="moduleName != null and moduleName != ''">
            and m.name=#{moduleName}
        </if>
    </select>
    <insert id="insert" parameterType="Block" useGeneratedKeys="true" keyProperty="id">
        insert into block(`name`, `enterprise_id`, `create_time`, `update_time`, `operator_id`, `detail`)
        values(#{name}, #{enterpriseId}, now(), now(), #{operatorId}, #{detail})
    </insert>
    <insert id="update" parameterType="Block" >
        update block
        set id =#{id}
        <if test="name != null and name != ''">
            ,name = #{name}
        </if>
        <if test="detail != null and detail != ''">
            ,detail = #{detail}
        </if>
        <if test="enterpriseId != null">
            , enterprise_id = #{enterpriseId}
        </if>
        <if test="status != null">
            , status = #{status}
        </if>
        <if test="operatorId != null">
            , operator_id = #{operatorId}
        </if>
        ,update_time = now()
        where id=#{id}
    </insert>
    <select id="findList" resultType="Block" parameterType="Query">
        <include refid="com.jones.mars.repository.BaseMapper.startPage" />
        select * from block
        where delete_flg=0
        <if test="name != null and name !=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="status != null">
            and status=#{status}
        </if>
        <if test="enterpriseId != null">
            and enterprise_id=#{enterpriseId}
        </if>
        order by id desc
        <include refid="com.jones.mars.repository.BaseMapper.endPage" />
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from block
        where delete_flg=0
        <if test="name != null and name !=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="status != null">
            and status=#{status}
        </if>
        <if test="enterpriseId != null">
            and enterprise_id=#{enterpriseId}
        </if>
    </select>
    <select id="findAllName" resultType="Block" parameterType="Query">
        select id, name from block
        where delete_flg=0
        <if test="status != null">
            and name like concat('%',#{name},'%')
        </if>
        <if test="enterpriseId != null">
            and enterprise_id=#{enterpriseId}
        </if>
        order by id
    </select>
    <select id="findAll" resultType="Block" parameterType="Query">
        select * from block
        where delete_flg=0
        <if test="name != null and name !=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="status != null">
            and status=#{status}
        </if>
        <if test="enterpriseId != null">
            and enterprise_id=#{enterpriseId}
        </if>
        <if test="enterpriseIds != null">
            and enterprise_id in (
            <foreach collection="enterpriseIds" item="eid" index="index" separator=",">
                #{eid}
            </foreach>
            )
        </if>
        order by id desc
    </select>
    <select id="findOne" resultType="Block">
        select * from block where id=#{id}
    </select>
    <update id="delete">
        update block set delete_flg=1 where id=#{id}
    </update>
</mapper>