<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.DepartmentMapper" >
    <insert id="insertRecord" parameterType="DepartmentParam" useGeneratedKeys="true" keyProperty="id">
        insert into department(`name`, `parent_id`, `manager_id`, `operator_id`, `enterprise_id`, `create_time`, `update_time`)
        values(#{name}, #{parentId}, #{managerId}, #{operatorId}, #{enterpriseId}, now(), now())
    </insert>
    <update id="update" parameterType="DepartmentParam">
        update department
        set name = #{name}
        <if test="enterpriseId != null">
            , enterprise_id = #{enterpriseId}
        </if>
        <if test="managerId != null">
            , manager_id = #{managerId}
        </if>
        <if test="parentId != null">
            , parent_id = #{parentId}
        </if>
        <if test="operatorId != null">
            , operator_id = #{operatorId}
        </if>
        ,update_time = now()
        where id=#{departmentId}
    </update>
    <resultMap id="DepartmentMap" type="Department" >
        <id column="id" property="id" />
        <result column="enterpirse_id" property="enterpriseId" />
        <result column="name" property="name" />
        <result column="manager_id" property="managerId" />
        <result column="parentName" property="parentName" />
        <result column="parent_id" property="parentId" />
        <result column="managerName" property="managerName" />
        <result column="managerEmail" property="managerEmail" />
        <result column="managerMobile" property="managerMobile" />
        <result column="managerDescription" property="managerDescription" />
        <collection property="userList" ofType="departmentUser" column="department_id">
            <id column="departmentUserId" property="id"/>
            <result column="userId" property="userId"/>
            <result column="userSgname" property="userSgname"/>
            <result column="userEmail" property="userEmail"/>
            <result column="userMobile" property="userMobile"/>
            <result column="userDescription" property="userDescription"/>
            <result column="description" property="description"/>
        </collection>
    </resultMap>
    <select id="findList" resultType="Department" parameterType="Query">
        <include refid="com.jones.mars.repository.CommonMapper.startPage" />
        select d.id, d.enterprise_id as enterpriseId, d.name, d.parent_id as parentId, p.name as parentName, d.manager_id as managerId,
        u1.mobile as managerMobile, up1.sgname as managerName, up1.email as managerEmail, up1.description as managerDescription, count(DISTINCT du.user_id) as userCount
        from department d left join department p on d.parent_id = p.id
        left join user_profile up1 on d.manager_id=up1.user_id left join user u1 on d.manager_id=u1.id
        left join department_user du on du.department_id=d.id
        where d.delete_flg=0
        <if test="name != null and name !=''">
            and d.name like concat('%',#{name},'%')
        </if>
        <if test="enterpriseId != null">
            and d.enterprise_id=#{enterpriseId}
        </if>
        group by d.id
        order by d.id desc
        <include refid="com.jones.mars.repository.CommonMapper.endPage" />
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from department d
        where d.delete_flg=0
        <if test="name != null and name !=''">
            and d.name like concat('%',#{name},'%')
        </if>
        <if test="enterpriseId != null">
            and d.enterprise_id=#{enterpriseId}
        </if>
    </select>
    <select id="findAllName" resultType="java.lang.Object" parameterType="Query">
        select id, name from department d
        where delete_flg=0
        <if test="name != null and name !=''">
            and d.name like concat('%',#{name},'%')
        </if>
        <if test="enterpriseId != null">
            and d.enterprise_id=#{enterpriseId}
        </if>
        order by id desc
    </select>
    <select id="findAll" resultMap="DepartmentMap" parameterType="Query">
        select d.id, d.enterprise_id, d.name, d.parent_id, d.manager_id,
        u1.mobile as managerMobile, up1.sgname as managerName, up1.email as managerEmail, up1.description as managerDescription,
        p.name as parentName, du.id as departmentUserId, du.department_id,
        up2.user_id as userId,u2.mobile as userMobile,  up2.sgname as userSgname, up2.email as userEmail, up2.description as userDescription
        from department d left join department p on d.parent_id = p.id
        left join user_profile up1 on d.manager_id=up1.user_id left join user u1 on d.manager_id=u1.id
        left join department_user du on du.department_id=d.id
        left join user_profile up2 on du.user_id=up2.user_id left join user u2 on du.user_id=u2.id
        where d.delete_flg=0
        <if test="name != null and name !=''">
            and d.name like concat('%',#{name},'%')
        </if>
        <if test="enterpriseId != null">
            and d.enterprise_id=#{enterpriseId}
        </if>
        order by d.id desc
    </select>
    <select id="findOne" resultMap="DepartmentMap">
        select d.id, d.enterprise_id, d.name, d.parent_id, d.manager_id,
        u1.mobile as managerMobile, up1.sgname as managerName, up1.email as managerEmail, up1.description as managerDescription,
        p.name as parentName,du.id as departmentUserId, du.department_id,
        up2.user_id as userId,u2.mobile as userMobile,  up2.sgname as userSgname, up2.email as userEmail, up2.description as userDescription
        from department d left join department p on d.parent_id = p.id
        left join user_profile up1 on d.manager_id=up1.user_id left join user u1 on d.manager_id=u1.id
        left join department_user du on du.department_id=d.id
        left join user_profile up2 on du.user_id=up2.user_id left join user u2 on du.user_id=u2.id
        where d.id=#{id}
    </select>
    <delete id="delete">
        delete from department where id=#{id};
    </delete>
</mapper>