<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.DepartmentUserMapper" >
    <insert id="insertRecord" parameterType="DepartmentUsers">
        <foreach collection="departmentUserList" item="param" index="index" separator=";">
            insert into department_user(`id`, `department_id`, `user_id`, `create_time`,`update_time`) values
            (#{id}, #{departmentId}, #{userId}, now(), now())
            ON DUPLICATE KEY UPDATE
            update_time=now()
        </foreach>
    </insert>
    <select id="findList" parameterType="java.lang.String" resultType="DepartmentUser">
        <include refid="com.jones.mars.repository.CommonMapper.startPage" />
        select du.*, p.sgname as userSgname
        from department_user du left join user_profile p on du.user_id=p.user_id
        where department_id=#{departmentId}
        order by id desc
        <include refid="com.jones.mars.repository.CommonMapper.endPage" />
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from department_user du
        where department_id=#{departmentId}
    </select>
    <select id="findAll" parameterType="java.lang.String" resultType="DepartmentUser">
        select du.*, p.sgname as userSgname
        from department_user du left join user_profile p on du.user_id=p.user_id
        where 1=1
        <if test="departmentId != null">
            and department_id=#{departmentId}
        </if>
        order by id desc
    </select>
    <delete id="deleteByDepartmentParam">
        delete from department_user where department_id=#{departmentId} and user_id in
        <foreach collection="userIds" item="userId" index="index" separator="," open="(" close=")">
            #{userId}
        </foreach>
    </delete>
    <delete id="deleteByEnterpriseUser">
        delete from department_user where user_id=#{userId} and department_id in (select id from department where enterprise_id=#{enterpriseId})
    </delete>
    <delete id="delete">
        <if test="departmentId != null">
            delete from department_user where department_id=#{departmentId}
            <if test="userId != null">
                and user_id=#{userId}
            </if>
        </if>
        <!-- todo 仅限海事局项目　-->
        <if test="userIds != null">
            delete from department_user where user_id in (
            <foreach collection="userIds" item="userId" index="index" separator=",">
                #{userId}
            </foreach>)
        </if>
    </delete>
</mapper>