<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.DeployLicenseMapper" >
    <insert id="insertRecord" parameterType="DeployLicense" useGeneratedKeys="true" keyProperty="id">
        insert into deploy_license(`id`, `name`, `detail`, `start_date`, `expire_date`, `create_time`, `key`, `disk_series`, `path`, `content_ori`, `content_enc`)
        values(#{id}, #{name}, #{detail}, #{startDate}, #{expireDate}, now(), #{key}, #{diskSeries}, #{path}, #{contentOri}, #{contentEnc})
        ON DUPLICATE KEY UPDATE
        `name` = #{name}, `detail` = #{detail}, `start_date`=#{startDate}, `expire_date` = #{expireDate}, `path` = #{path}
    </insert>
    <update id="update" parameterType="DeployLicense">
        update deploy_license set `id`=#{id}
        <if test="name != null and name != ''">
            ,`name`=#{name}
        </if>
        <if test="detail != null and detail != ''">
            , `detail`=#{detail}
        </if>
        <if test="startDate != null">
            , start_date=#{startDate}
        </if>
        <if test="expireDate != null">
            , `expire_date`=#{expireDate}
        </if>
        <if test="createTime != null">
            , `create_time`=#{createTime}
        </if>
        <if test="key != null and key != ''">
            , `key`=#{key}
        </if>
        <if test="path != null and path != ''">
            , `path`=#{path}
        </if>
        <if test="contentOri != null and contentOri != ''">
            , `content_ori`=#{contentOri}
        </if>
        <if test="contentEnc != null and contentEnc != ''">
            , `content_enc`=#{contentEnc}
        </if>
        where `id`=#{id}
    </update>
    <select id="findList" resultType="DeployLicense" parameterType="Query">
        <include refid="com.jones.mars.repository.CommonMapper.startPage" />
        select * from deploy_license where 1=1
        <if test="diskSeries != null and diskSeries != ''">
            and `disk_series`=#{diskSeries}
        </if>
        order by id
        <include refid="com.jones.mars.repository.CommonMapper.endPage" />
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from deploy_license where 1=1
    </select>
    <select id="findAll" resultType="DeployLicense" parameterType="Query">
        select * from deploy_license where 1=1
        <if test="diskSeries != null and diskSeries != ''">
            and `disk_series`=#{diskSeries}
        </if>
        order by id
    </select>
    <select id="findOne" resultType="DeployLicense">
        select * from deploy_license where id=#{id}
    </select>
    <delete id="delete">
        delete from deploy_license where id=#{id}
    </delete>
</mapper>