<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.EnterpriseMapper" >
    <insert id="insertRecord" parameterType="EnterpriseParam" useGeneratedKeys="true" keyProperty="id">
        insert into enterprise(`id`, `name`, `detail`, `image_path`, `create_time`, `update_time`)
        values(#{id}, #{name}, #{detail}, #{imagePath}, now(), now())
    </insert>
    <update id="update" parameterType="EnterpriseParam">
        update enterprise
        set update_time = now()
        <if test="name != null and name != ''">
            , name = #{name}
        </if>
        <if test="detail != null and detail != ''">
            , detail = #{detail}
        </if>
        <if test="imagePath != null">
            , image_path = #{imagePath}
        </if>
        <if test="basePath != null">
            , base_path = #{basePath}
        </if>
        where id=#{id}
    </update>
    <select id="findList" resultType="Enterprise" parameterType="Query">
        <include refid="com.jones.mars.repository.CommonMapper.startPage" />
        select d.* from enterprise d
        where 1=1
        <if test="name != null and name !=''">
            and d.name like concat('%',#{name},'%')
        </if>
        <if test="plateformFlg != null">
            and d.plateform_flg = #{plateformFlg}
        </if>
        <if test="managerId != null">
            and id in (select distinct enterprise_id from enterprise_user where manager_flg=1 and user_id=#{managerId})
        </if>
        order by d.id desc
        <include refid="com.jones.mars.repository.CommonMapper.endPage" />
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from enterprise d
        <if test="managerId != null">
            left join enterprise_user eu on d.id=eu.enterprise_id
        </if>
        where 1=1
        <if test="name != null and name !=''">
            and d.name like concat('%',#{name},'%')
        </if>
        <if test="plateformFlg != null">
            and d.plateform_flg = #{plateformFlg}
        </if>
        <if test="managerId != null">
            and eu.manager_flg=1 and eu.user_id=#{managerId}
        </if>
    </select>
    <select id="findAllName" resultType="Enterprise" parameterType="Query">
        select id, name from enterprise d
        where 1=1
        <if test="name != null and name !=''">
            and d.name like concat('%',#{name},'%')
        </if>
        <if test="plateformFlg != null">
            and d.plateform_flg = #{plateformFlg}
        </if>
        order by id desc
    </select>
    <select id="findUserEnterprise" resultType="Enterprise" parameterType="Query">
        select e.*, u.manager_flg
        from enterprise e, enterprise_user u
        where e.id=u.enterprise_id and e.plateform_flg=0
        <if test="userId != null">
            and u.user_id=#{userId}
        </if>
        <if test="name != null and name !=''">
            and e.name like concat('%',#{name},'%')
        </if>
        <if test="plateformFlg != null">
            and e.plateform_flg = #{plateformFlg}
        </if>
        order by id desc
    </select>
    <select id="findAll" resultType="Enterprise">
        select d.* from enterprise d
        where 1=1
        <if test="name != null and name !=''">
            and d.name like concat('%',#{name},'%')
        </if>
        <if test="plateformFlg != null">
            and d.plateform_flg = #{plateformFlg}
        </if>
        <if test="managerId != null">
            and id in (select distinct enterprise_id from enterprise_user where manager_flg=1 and user_id=#{managerId})
        </if>
        order by d.id desc
    </select>
    <select id="findOne" resultType="Enterprise">
        select e.* from enterprise e
        where e.id=#{id}
    </select>
    <update id="delete">
        update enterprise set delete_flg=1  where id=#{id}
    </update>
</mapper>