<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.EnterpriseMapper" >
    <insert id="insert" parameterType="EnterpriseParam" useGeneratedKeys="true" keyProperty="id">
        insert into enterprise(`name`, `detail`, `manager_id`, `image_path`, `create_time`, `update_time`)
        values(#{name}, #{detail}, #{managerId}, #{imagePath}, now(), now())
    </insert>
    <insert id="update" parameterType="EnterpriseParam">
        update enterprise
        set update_time = now()
        <if test="name != null and name != ''">
            , name = #{name}
        </if>
        <if test="detail != null and detail != ''">
            , detail = #{detail}
        </if>
        <if test="managerId != null">
            , manager_id = #{managerId}
        </if>
        <if test="imagePath != null">
            , image_path = #{imagePath}
        </if>
        <if test="basePath != null">
            , base_path = #{basePath}
        </if>
        where id=#{id}
    </insert>
    <select id="findList" resultType="Enterprise" parameterType="Query">
        <include refid="com.jones.mars.repository.BaseMapper.startPage" />
        select d.*, p.sgname as managerName from enterprise d left join user_profile p on d.manager_id = p.user_id
        where 1=1
        <if test="name != null and name !=''">
            and d.name like concat('%',#{name},'%')
        </if>
        <if test="plateformFlg != null">
            and d.plateform_flg = #{plateformFlg}
        </if>
        order by d.id desc
        <include refid="com.jones.mars.repository.BaseMapper.endPage" />
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from enterprise d
        where 1=1
        <if test="name != null and name !=''">
            and d.name like concat('%',#{name},'%')
        </if>
        <if test="plateformFlg != null">
            and d.plateform_flg = #{plateformFlg}
        </if>
    </select>
    <select id="findAllName" resultType="Enterprise" parameterType="Query">
        select id, name from enterprise d
        where 1=1
        <if test="name != null and name !=''">
            and d.name like concat('%',#{name},'%')
        </if>
        <if test="plateformFlg != null">
            and d.plateform_flg = #{plateformFlg}
        </if>
        order by id desc
    </select>
    <select id="findUserEnterprise" resultType="Enterprise" parameterType="Query">
        select e.*
        from enterprise e, enterprise_user u
        where e.id=u.enterprise_id and e.plateform_flg=0
        <if test="userId != null">
            and u.user_id=#{userId}
        </if>
        <if test="name != null and name !=''">
            and e.name like concat('%',#{name},'%')
        </if>
        <if test="plateformFlg != null">
            and e.plateform_flg = #{plateformFlg}
        </if>
        order by id desc
    </select>
    <select id="findAll" resultType="Enterprise">
        select * from enterprise order by id desc
    </select>
    <select id="findOne" resultType="Enterprise">
        select d.*, p.sgname as managerName from enterprise d left join user_profile p on d.manager_id = p.user_id
        where id=#{id}
    </select>
    <update id="delete">
        update enterprise set delete_flg=1  where id=#{id}
    </update>
</mapper>