<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.HotspotContentMapper" >
    <insert id="insert" parameterType="HotspotContentParams" useGeneratedKeys="true" keyProperty="id">
        insert into hotspot_content(`hotspot_id`, `content`, `title`, `extra`, `seq`, `type`) values
        <foreach collection="hotspotContentList" item="param" index="index" separator=",">
            (#{param.hotspotId}, #{param.content}, #{param.title}, #{param.extra}, #{index}, #{param.type})
        </foreach>
    </insert>
    <insert id="insertOne" parameterType="HotspotContentParam" useGeneratedKeys="true" keyProperty="id">
        insert into hotspot_content(`hotspot_id`, `content`, `title`, `extra`, `seq`, `type`) values
        (#{hotspotId}, #{content}, #{title}, #{extra}, #{seq}, #{type})
    </insert>
    <update id="updateOne" parameterType="HotspotContentParam">
        update hotspot_content
        set content = #{content}, title = #{title}, type = #{type}, extra = #{extra}
        where id = #{id}
    </update>
    <update id="update" parameterType="HotspotContentParams">
        <foreach collection="hotspotContentList" item="param" index="index" separator=";">
        update hotspot_content
        set content = #{param.content}, title = #{param.title}, type = #{param.type}, extra = #{param.extra}
        where id = #{param.id}
        </foreach>
    </update>
    <select id="findMaxSeqByhotspotId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select max(seq) from hotspot_content where hotspot_id=#{hotspotId}
    </select>
    <update id="updateHotspotContentSeq">
        update hotspot_content set seq=case
        <foreach collection="hotspotContentIds" item="hotspotContentId" index="index">
            when id=#{hotspotContentId} then #{index}
        </foreach>
        end
        where id in
        <foreach collection="hotspotContentIds" item="hotspotContentId" index="index" separator="," open="(" close=")">
            #{hotspotContentId}
        </foreach>
    </update>
    <select id="findList" resultType="HotspotContent" parameterType="Query">
        select * from hotspot_content
        where 1=1
        <if test="hotspotId != null">
            and hotspot_id=#{hotspotId}
        </if>
        <if test="type != null and type != ''">
            and type=#{type}
        </if>
        order by seq
    </select>

    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from hotspot_content
        where hotspot_id=#{query.hotspotId}
    </select>

    <select id="findByHotspotId" resultType="HotspotContent" parameterType="java.lang.Integer">
        select * from hotspot_content
        where hotspot_id=#{hotspotId}
        order by seq
    </select>

    <select id="findAll" resultType="HotspotContent">
        select * from hotspot_content
        where 1=1
        <if test="hotspotId != null">
            and hotspot_id=#{hotspotId}
        </if>
        <if test="type != null and type != ''">
            and type=#{type}
        </if>
        order by seq
    </select>

    <select id="findOne" resultType="HotspotContent">
        select * from hotspot_content where id=#{id}
    </select>

    <delete id="delete">
        delete from hotspot_content where id=#{id}
    </delete>
    <delete id="deleteByHotspotId">
        delete from hotspot_content where hotspot_id=#{id}
    </delete>
</mapper>