<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.HotspotMapper" >
    <resultMap id="HotspotMap" type="Hotspot" >
        <id property="id" column="id" />
        <result column="code" property="code"/>
        <result column="hotspot_seq" property="seq"/>
        <result column="type" property="type"/>
        <result column="title" property="title"/>
        <result column="sceneCode" property="sceneCode"/>
        <result column="name" property="name"/>
        <result column="location_x" property="locationX"/>
        <result column="location_y" property="locationY"/>
        <result column="location_fov" property="locationFov"/>
        <result column="scene_id" property="sceneId"/>
        <result column="project_id" property="projectId"/>
        <collection property="contents" ofType="HotspotContent" column="hotspotId">
            <id column="contentId" property="id"/>
            <result column="contentType" property="type"/>
            <result column="contentModule" property="module"/>
            <result column="extra" property="extra"/>
            <result column="content_seq" property="seq"/>
            <result column="content" property="content"/>
            <result column="contentTitle" property="title"/>
            <result column="hotspotId" property="hotspotId"/>
        </collection>
    </resultMap>

    <insert id="insert" parameterType="Hotspot" useGeneratedKeys="true" keyProperty="id">
        insert into hotspot(`code`, `title`, `location_x`, `location_y`, `location_fov`, `scene_id`,`project_id`,`type`, `create_time`, `update_time`)
        values(#{code}, #{title}, #{locationX}, #{locationY}, #{locationFov}, #{sceneId}, #{projectId}, #{type},now(), now())
    </insert>
    <insert id="update" parameterType="Hotspot">
        update hotspot
        set id = #{id}
        <if test="type != null and type !=''">
            , type = #{type}
        </if>
        <if test="code != null and code !=''">
            , code = #{code}
        </if>
        <if test="title != null and title !=''">
            , title = #{title}
        </if>
        <if test="locationX != null">
            , location_x = #{locationX}
        </if>
        <if test="sceneId != null and type !=null and type=='GUIDE'">
            , scene_id = #{sceneId}
        </if>
        <if test="locationY != null">
            , location_y = #{locationY}
        </if>
        <if test="locationFov != null">
            , location_fov = #{locationFov}
        </if>
        where id = #{id}
    </insert>

    <select id="findList" resultType="Hotspot" parameterType="Query">
        <include refid="com.jones.mars.repository.BaseMapper.startPage" />
        select * from hotspot
        where 1=1
        <if test="sceneId != null">
            and scene_id=#{sceneId}
        </if>
        <if test="projectId != null">
            and project_id=#{projectId}
        </if>
        <if test="type != null and type != ''">
            and type=#{type}
        </if>
        <if test="sceneIds != null">
            and scene_id in
            <foreach collection="sceneIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by id desc
        <include refid="com.jones.mars.repository.BaseMapper.endPage" />
    </select>

    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from hotspot
        where 1=1
        <if test="sceneId != null">
            and scene_id=#{sceneId}
        </if>
        <if test="projectId != null">
            and project_id=#{projectId}
        </if>
        <if test="type != null and type != ''">
            and type=#{type}
        </if>
    </select>

    <select id="findAll" resultType="Hotspot" parameterType="Query">
        select h.*,ph.seq from hotspot h
        left join project_hotspot ph on h.id=ph.hotspot_id
        where 1=1
        <if test="projectId != null">
            and h.project_id=#{projectId}
        </if>
        <if test="sceneId != null">
            and h.scene_id = #{sceneId}
        </if>
        <if test="type != null and type != ''">
            and h.type=#{type}
        </if>
        order by ph.seq, id desc
    </select>

    <select id="findAllByQuery" resultMap="HotspotMap" parameterType="Query">
        select h.*,
        <if test="hasSceneCode != null">
            s.code as sceneCode,
        </if>
        c.hotspot_id as hotspotId, ph.seq as hotspot_seq, c.title as contentTitle, c.id as contentId, c.content,c.type as contentType, c.module as contentModule, c.seq as content_seq, c.extra
        from hotspot h left join project_hotspot ph on h.id=ph.hotspot_id left join hotspot_content c on h.id=c.hotspot_id
        <if test="hasSceneCode != null">
            left join scene s on h.scene_id=s.id
        </if>
        where 1=1
        <if test="projectId != null">
            and h.project_id=#{projectId}
        </if>
        <if test="sceneId != null">
            and h.scene_id = #{sceneId}
        </if>
        <if test="type != null">
            and h.type = #{type}
        </if>
        <if test="types != null">
            and h.type in
            <foreach collection="types" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="sceneIds != null">
            and scene_id in
            <foreach collection="sceneIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by ph.seq
    </select>

    <select id="findOne" resultMap="HotspotMap">
        select * from hotspot where id=#{id}
    </select>

    <delete id="delete">
        delete from hotspot where id=#{id}
    </delete>
</mapper>