<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.HotspotContentMapper" >
    <insert id="insert" parameterType="HotspotContentParams" useGeneratedKeys="true" keyProperty="id">
        insert into hotspot_content(`hotspot_id`, `content`, `title`, `extra`, `seq`, `type`) values
        <foreach collection="hotspotContentList" item="param" index="index" separator=",">
            (#{param.hotspotId}, #{param.content}, #{param.title}, #{param.extra}, #{index}, #{param.type})
        </foreach>
    </insert>
    <insert id="update" parameterType="HotspotContentParams">
        <foreach collection="hotspotContentList" item="param" index="index" separator=";">
        update hotspot_content
        set content = #{content}, title = #{title}, type = #{type}, extra = #{extra}, seq=#{index}
        where id = #{id}
        </foreach>
    </insert>
    <insert id="updateHotspotContentSeq">
        <foreach collection="hotspotContentIds" item="hotspotContentId" index="index">
            update hotspot_content set seq=#{index} where id=#{hotspotContentId}
        </foreach>
    </insert>
    <select id="findList" resultType="HotspotContent" parameterType="Query">
        select * from hotspot_content
        where hotspot_id=#{query.hotspotId}
        order by seq
    </select>

    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from hotspot_content
        where hotspot_id=#{query.hotspotId}
    </select>

    <select id="findByHotspotId" resultType="HotspotContent" parameterType="java.lang.Integer">
        select * from hotspot_content
        where hotspot_id=#{hotspotId}
        order by seq
    </select>

    <select id="findAll" resultType="HotspotContent">
        select * from hotspot_content order by hotspot_id desc
    </select>

    <select id="findOne" resultType="HotspotContent">
        select * from hotspot_content where id=#{id}
    </select>

    <delete id="delete">
        delete from hotspot_content where id=#{id}
    </delete>
</mapper>