<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.HotspotMapper" >
    <resultMap id="HotspotMap" type="Hotspot" >
        <id property="id" column="id" />
        <association property="baseContents" column="bhotspot_id" select="com.jones.mars.repository.HotspotContentMapper.findByHotspotId"/>
        <association property="contents" column="id" select="com.jones.mars.repository.HotspotContentMapper.findByHotspotId"/>
    </resultMap>

    <insert id="insert" parameterType="Hotspot" useGeneratedKeys="true" keyProperty="id">
        insert into hotspot(`code`, `name`, `title`, `icon`, `location_x`, `location_y`, `bhotspot_id`, `base_flg`, `create_time`, `update_time`)
        values(#{code}, #{name}, #{title}, #{icon}, #{locationX}, #{locationY}, #{bhotspotId}, #{baseFlg}, now(), now())
    </insert>
    <insert id="update" parameterType="Hotspot">
        update hotspot
        set id = #{id}
        <if test="icon != null and icon !=''">
            , icon = #{icon}
        </if>
        <if test="name != null and name !=''">
            , name = #{name}
        </if>
        <if test="code != null and code !=''">
            , code = #{code}
        </if>
        <if test="title != null and title !=''">
            , title = #{title}
        </if>
        <if test="locationX != null">
            , location_x = #{locationX}
        </if>
        <if test="locationY != null">
            , location_y = #{locationY}
        </if>
        <if test="bhotspot_id != null">
            , bhotspot_id = #{bhotspotId}
        </if>
        where id = #{id}
    </insert>

    <select id="findList" resultType="Hotspot" parameterType="Query">
        <include refid="com.jones.mars.repository.BaseMapper.startPage" />
        select * from hotspot
        where 1=1
        <if test="query != null and query.sceneId != null">
            and scene_id=#{sceneId}
        </if>
        order by id desc
        <include refid="com.jones.mars.repository.BaseMapper.endPage" />
    </select>

    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from hotspot
        where 1=1
        <if test="query != null and query.sceneId != null">
            and scene_id=#{sceneId}
        </if>
    </select>

    <select id="findAll" resultType="Hotspot">
        select * from hotspot order by id desc
    </select>

    <select id="findOne" resultType="Hotspot">
        select * from hotspot where id=#{id}
    </select>

    <delete id="delete">
        delete from hotspot where id=#{id}
    </delete>
</mapper>