<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.HotspotMapper" >
    <resultMap id="HotspotMap" type="Hotspot" >
        <id property="id" column="id" />
        <result column="code" property="code"/>
        <result column="type" property="type"/>
        <result column="title" property="title"/>
        <result column="name" property="name"/>
        <result column="location_x" property="locationX"/>
        <result column="location_y" property="locationY"/>
        <result column="base_flg" property="baseFlg"/>
        <result column="scene_id" property="sceneId"/>
        <result column="project_id" property="projectId"/>
        <collection property="contents" ofType="HotspotContent" column="hotspotId">
            <id column="contentId" property="id"/>
            <result column="contentType" property="type"/>
            <result column="contentModule" property="module"/>
            <result column="seq" property="seq"/>
            <result column="extra" property="extra"/>
            <result column="content" property="content"/>
            <result column="contentTitle" property="title"/>
            <result column="hotspotId" property="hotspotId"/>
        </collection>
    </resultMap>

    <insert id="insert" parameterType="Hotspot" useGeneratedKeys="true" keyProperty="id">
        insert into hotspot(`code`, `name`, `title`, `location_x`, `location_y`, `bhotspot_id`, `base_flg`, `scene_id`,`project_id`,`type`, `create_time`, `update_time`)
        values(#{code}, #{name}, #{title}, #{locationX}, #{locationY}, #{bhotspotId}, #{baseFlg}, #{sceneId},#{projectId}, #{type},now(), now())
    </insert>
    <insert id="update" parameterType="Hotspot">
        update hotspot
        set id = #{id}
        <if test="name != null and name !=''">
            , name = #{name}
        </if>
        <if test="code != null and code !=''">
            , code = #{code}
        </if>
        <if test="title != null and title !=''">
            , title = #{title}
        </if>
        <if test="locationX != null">
            , location_x = #{locationX}
        </if>
        <if test="locationY != null">
            , location_y = #{locationY}
        </if>
        <if test="bhotspotId != null">
            , bhotspot_id = #{bhotspotId}
        </if>
        where id = #{id}
    </insert>

    <select id="findList" resultType="Hotspot" parameterType="Query">
        <include refid="com.jones.mars.repository.BaseMapper.startPage" />
        select * from hotspot
        where 1=1
        <if test="sceneId != null">
            and scene_id=#{sceneId}
        </if>
        <if test="projectId != null">
            and project_id=#{projectId}
        </if>
        <if test="type != null">
            and type=#{type}
        </if>
        order by id desc
        <include refid="com.jones.mars.repository.BaseMapper.endPage" />
    </select>

    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from hotspot
        where 1=1
        <if test="sceneId != null">
            and scene_id=#{sceneId}
        </if>
        <if test="projectId != null">
            and project_id=#{projectId}
        </if>
        <if test="type != null">
            and type=#{type}
        </if>
    </select>

    <select id="findAll" resultMap="HotspotMap" parameterType="Query">
        select * from hotspot
        where 1=1
        <if test="projectId != null">
            and project_id=#{projectId}
        </if>
        <if test="sceneId != null">
            and scene_id = #{sceneId}
        </if>
        <if test="sceneIds != null">
            and scene_id in
            <foreach collection="sceneIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by id desc
    </select>

    <select id="findAllByQuery" resultMap="HotspotMap" parameterType="Query">
        select h.*, c.hotspot_id as hotspotId, c.title as contentTitle, c.id as contentId, c.content,c.type as contentType, c.module as contentModule, c.seq, c.extra
        from hotspot h left join hotspot_content c on h.id=c.hotspot_id
        where 1=1
        <if test="projectId != null">
            and h.project_id=#{projectId}
        </if>
        <if test="sceneId != null">
            and h.scene_id = #{sceneId}
        </if>
        <if test="type != null">
            and h.type = #{type}
        </if>
        <if test="type != null and type=='DEFAULT'">
            and c.module = #{type}
        </if>
        <if test="sceneIds != null">
            and scene_id in
            <foreach collection="sceneIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by id desc
    </select>

    <select id="findOne" resultMap="HotspotMap">
        select * from hotspot where id=#{id}
    </select>

    <delete id="delete">
        delete from hotspot where id=#{id}
    </delete>
</mapper>