<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.NewsMapper" >
    <insert id="insert" parameterType="News" useGeneratedKeys="true" keyProperty="id">
        insert into news(`title`, `summary`, `author`, `content_url`, `content_html`, `institution`,`image_url`, `publish_time`, `create_time`, `update_time`)
        values(#{title}, #{summary}, #{author}, #{contentUrl}, #{contentHtml}, #{institution}, #{imageUrl}, #{publishTime}, now(), now())
    </insert>
    <update id="update" parameterType="News">
        update news set update_time=now()
        <if test="status != null">
            ,status=#{status}
        </if>
        <if test="publishTime != null">
            , publish_time = #{publishTime}
        </if>
        <if test="topFlg != null">
            , top_flg = #{topFlg}
        </if>
        <if test="title != null and title != ''">
            , title = #{title}
        </if>
        <if test="institution != null and institution != ''">
        , institution=#{institution}
        </if>
        <if test="summary != null and summary != ''">
        , summary = #{summary}
        </if>
        <if test="author != null and author != ''">
        ,author = #{author}
        </if>
        <if test="contentUrl != null and contentUrl != ''">
        , content_url = #{contentUrl}
            </if>
        <if test="imageUrl != null and imageUrl != ''">
        , image_url = #{imageUrl}
        </if>
        <if test="contentHtml != null and contentHtml != ''">
        , content_html=#{contentHtml}
        </if>
        where id=#{id}
    </update>
    <select id="findList" resultType="News" parameterType="Query">
        <include refid="com.jones.mars.repository.BaseMapper.startPage" />
        select id, title, summary, author,institution, content_url, content_html, image_url, publish_time, top_flg, status from news
        where 1=1
        <if test="status != null">
            and status=#{status}
        </if>
        <if test="statusIn != null">
            and status in(<foreach collection="statusIn" item="item" index="index" separator=",">#{item}</foreach>)
        </if>
        order by top_flg desc, publish_time desc
        <include refid="com.jones.mars.repository.BaseMapper.endPage" />
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from news where 1=1
        <if test="status != null">
            and status=#{status}
        </if>
        <if test="statusIn != null">
            and status in(<foreach collection="statusIn" item="item" index="index" separator=",">#{item}</foreach>)
        </if>
    </select>
    <select id="findAll" resultType="News">
        select * from news
        <if test="status != null">
            and status=#{status}
        </if>
        <if test="statusIn != null">
            and status in(<foreach collection="statusIn" item="item" index="index" separator=",">#{item}</foreach>)
        </if>
        order by publish_time desc
    </select>
    <select id="findOne" resultType="News">
        select * from news where id=#{id}
    </select>
    <delete id="delete">
        delete from news where id=#{id}
    </delete>
</mapper>