<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.NewsMapper" >
    <insert id="insert" parameterType="News">
        insert into news(`title`, `summary`, `author`, `content`, `image_url`, `publish_time`)
        values(#{title}, #{summary}, #{author}, #{contentUrl}, #{imageUrl}, #{publishTime})
    </insert>
    <insert id="update" parameterType="News">
        update news set title = #{title}
        , summary = #{summary} , author = #{author} , content = #{contentUrl} , image_url = #{image_url} , publish_time = #{publishTime}
        where id=#{id}
    </insert>
    <select id="findList" resultType="News" parameterType="Query">
        <include refid="com.jones.mars.repository.BaseMapper.startPage" />
        select * from news
        order by publish_time desc
        <include refid="com.jones.mars.repository.BaseMapper.endPage" />
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from news
    </select>
    <select id="findAll" resultType="News">
        select * from news order by publish_time desc
    </select>
    <select id="findOne" resultType="News">
        select * from news where id=#{id}
    </select>
    <delete id="delete">
        delete from news where id=#{id}
    </delete>
</mapper>