<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.ProjectUserMapper" >
    <insert id="insert" parameterType="ProjectUser">
        insert into project_user(`project_id`, `user_id`, `manager_flg`)
        values(#{projectId }, #{userId}, #{managerFlg})
    </insert>
    <delete id="delete">
        delete from project_user where id=#{id}
    </delete>
</mapper>