<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.ProjectMapper" >
    <insert id="insert" parameterType="ProjectParam" useGeneratedKeys="true" keyProperty="id">
        insert into project(`name`, `detail`, `image_url`, `module_id`, `class_id`, `status`, `ori_enterprise_id`,`ori_block_id`,`creator_id`, `create_time`, `update_time`)
        values(#{name}, #{detail}, #{imageUrl}, #{moduleId}, #{classId}, #{status}, #{oriEnterpriseId}, #{blockId}, #{creatorId}, now(), now())
    </insert>
    <insert id="update" parameterType="ProjectParam">
        update project
        set id=#{id}
        <if test="name != null and name !=''">
            ,name = #{name}
        </if>
        <if test="detail != null and detail !=''">
            ,detail = #{detail}
        </if>
        <if test="imageUrl != null and imageUrl !=''">
            ,image_url = #{imageUrl}
        </if>
        <if test="reason != null">
            ,reason = #{reason}
        </if>
        <if test="moduleId != null">
            , module_id = #{moduleId}
        </if>
        <if test="classId != null">
            , class_id = #{classId}
        </if>
        <if test="status != null">
            , status = #{status}
        </if>
        <if test="customFlg != null">
            , custom_flg = #{customFlg}
        </if>
        <if test="publicFlg != null">
            , public_flg = #{publicFlg}
        </if>
        <if test="publishDate != null">
            , publish_date = #{publishDate}
        </if>
        ,update_time = now()
        where id=#{id}
    </insert>
    <select id="findList" resultType="Project" parameterType="Query">
        <include refid="com.jones.mars.repository.BaseMapper.startPage" />
        select p.*, u.sgname as creatorSgname, u.avatar as creatorAvator, e.name as oriEnterpriseName, e.avatar as oriEnterpriseAvatar,e.plateform_flg as enterprisePlateformFlg, e.base_path as oriEnterpriseBasePath, b.id as blockId, b.name as blockName, m.name as moduleName, c.name as className
        from project p left join block_project bp on bp.project_id=p.id left join block b on bp.block_id = b.id
        left join block_module m on p.module_id = m.id left join block_class c on p.class_id=c.id
        left join enterprise e on p.ori_enterprise_id = e.id
        left join user_profile u on p.creator_id = u.user_id
        <if test="operation != null and userId != null and operation==1">
            left join project_user pu on pu.project_id=p.id
        </if>
        where p.delete_flg=0
        <if test="name != null and name !=''">
            and p.name like concat('%',#{name},'%')
        </if>
        <if test="blockId != null">
            and b.id=#{blockId}
        </if>
        <if test="enterpriseId != null">
            and b.enterprise_id=#{enterpriseId}
        </if>
        <if test="plateformFlg != null">
            and e.plateform_flg=#{plateformFlg}
        </if>
        <if test="oriEnterpriseId != null">
            and p.ori_enterprise_id=#{oriEnterpriseId}
        </if>
        <if test="moduleId != null">
            and p.module_id=#{moduleId}
        </if>
        <if test="classId != null">
            and p.class_id=#{classId}
        </if>
        <if test="moduleName != null and moduleName != ''">
            and m.name=#{moduleName}
        </if>
        <if test="status != null">
            and p.status=#{status}
        </if>
        <if test="publishFlg != null and publishFlg==1">
            and p.status=3
        </if>
        <if test="publishFlg != null and publishFlg!=1">
            and p.status!=3
        </if>
        <!-- 过滤下架的项目 -->
        <if test="filterDownShelf != null and filterDownShelf == 1">
            and p.status != 4
        </if>
        <if test="operation != null and userId !=null and operation==1">
            and pu.user_id=#{userId} and p.status &lt;=1
        </if>
        order by p.id desc
        <include refid="com.jones.mars.repository.BaseMapper.endPage" />
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*)
        from project p left join block_project bp on bp.project_id=p.id left join block b on bp.block_id = b.id
        left join block_module m on p.module_id = m.id left join block_class c on p.class_id=c.id
        left join enterprise e on p.ori_enterprise_id = e.id
        <if test="operation != null and userId != null and operation==1">
            left join project_user pu on pu.project_id=p.id
        </if>
        where p.delete_flg=0
        <if test="name != null and name !=''">
            and p.name like concat('%',#{name},'%')
        </if>
        <if test="blockId != null">
            and b.id=#{blockId}
        </if>
        <if test="enterpriseId != null">
            and b.enterprise_id=#{enterpriseId}
        </if>
        <if test="plateformFlg != null">
            and e.plateform_flg=#{plateformFlg}
        </if>
        <if test="oriEnterpriseId != null">
            and p.ori_enterprise_id=#{oriEnterpriseId}
        </if>
        <if test="moduleName != null and moduleName != ''">
            and m.name=#{moduleName}
        </if>
        <if test="classId != null">
            and p.class_id=#{classId}
        </if>
        <if test="status != null">
            and p.status=#{status}
        </if>
        <if test="publishFlg != null and publishFlg==1">
            and p.status=3
        </if>
        <if test="publishFlg != null and publishFlg!=1">
            and p.status!=3
        </if>
        <!-- 过滤下架的项目 -->
        <if test="filterDownShelf != null and filterDownShelf == 1">
            and p.status != 4
        </if>
        <if test="operation != null and userId !=null and operation==1">
            and pu.user_id=#{userId} and p.status &lt;=1
        </if>
    </select>
    <select id="findAllName" resultType="Project" parameterType="Query">
        select id, name from project p, block_project bp
        where p.delete_flg=0 and bp.project=p.id
        <if test="name != null and name !=''">
            and p.name like concat('%',#{name},'%')
        </if>
        <if test="blockId != null">
            and p.block_id=#{blockId}
        </if>
        <if test="moduleId != null">
            and p.module_id=#{moduleId}
        </if>
        <if test="classId != null">
            and p.class_id=#{classId}
        </if>
        order by id desc
    </select>
    <select id="findAll" resultType="Project" parameterType="Query">
        select p.*, u.sgname as creatorSgname, u.avatar as creatorAvator, e.name as oriEnterpriseName, e.avatar as oriEnterpriseAvatar, e.base_path as oriEnterpriseBasePath,e.plateform_flg as enterprisePlateformFlg, b.id as blockId, b.name as blockName, m.name as moduleName, c.name as className
        from project p left join block_project bp on bp.project_id=p.id left join block b on bp.block_id = b.id
        left join block_module m on p.module_id = m.id left join block_class c on p.class_id=c.id
        left join enterprise e on p.ori_enterprise_id = e.id
        left join user_profile u on p.creator_id = u.user_id
        <if test="operation != null and userId != null and operation==1">
            left join project_user pu on pu.project_id=p.id
        </if>
        where p.delete_flg=0
        <if test="name != null and name !=''">
            and p.name like concat('%',#{name},'%')
        </if>
        <if test="blockId != null">
            and b.id=#{blockId}
        </if>
        <if test="enterpriseId != null">
            and b.enterprise_id=#{enterpriseId}
        </if>
        <if test="plateformFlg != null">
            and e.plateform_flg=#{plateformFlg}
        </if>
        <if test="ids != null">
            and p.id in (
            <foreach collection="ids" item="projectId" index="index" separator=",">
                #{projectId}
            </foreach>
            )
        </if>
        <if test="oriEnterpriseId != null">
            and p.ori_enterprise_id=#{oriEnterpriseId}
        </if>
        <if test="moduleId != null">
            and p.module_id=#{moduleId}
        </if>
        <if test="classId != null">
            and p.class_id=#{classId}
        </if>
        <if test="moduleName != null and moduleName != ''">
            and m.name=#{moduleName}
        </if>
        <if test="status != null">
            and p.status=#{status}
        </if>
        <if test="publishFlg != null and publishFlg==1">
            and p.status=3
        </if>
        <if test="publishFlg != null and publishFlg!=1">
            and p.status!=3
        </if>
        <!-- 过滤下架的项目 -->
        <if test="filterDownShelf != null and filterDownShelf == 1">
            and p.status != 4
        </if>
        <if test="operation != null and userId !=null and operation==1">
            and pu.user_id=#{userId} and p.status &lt;=1
        </if>
        order by p.id desc
    </select>
    <select id="findOne" resultType="Project" parameterType="ProjectQuery">
        select p.*,u.sgname as creatorSgname, u.avatar as creatorAvator,b.id as blockId, b.name as blockName, e.name as oriEnterpriseName,e.avatar as oriEnterpriseAvatar, e.base_path as oriEnterpriseBasePath, m.name as moduleName, c.name as className,e.plateform_flg as enterprisePlateformFlg
        from  project p left join block_module m on p.module_id = m.id left join block_class c on p.class_id=c.id
        left join enterprise e on p.ori_enterprise_id = e.id
        left join block b on b.id=p.ori_block_id
        left join user_profile u on p.creator_id = u.user_id
        where p.id=#{id}
    </select>
    <update id="delete">
        update project set delete_flg=1 where id=#{id}
    </update>
</mapper>