<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.ProjectPartnerMapper" >
    <insert id="insert" parameterType="ProjectPartnerParam">
        <foreach collection="userIds" item="userId" index="index" open="(" close=")" separator=",">
            insert into project_partner(`project_id`, `user_id`, `manager_flg`)
            values(#{projectId}, #{userId}, #{managerFlg});
        </foreach>
    </insert>
    <select id="findByProjectId" parameterType="java.lang.Integer">
        select * from project_partner where project_id=#{projectId} order by manager_flg desc
    </select>
    <update id="update" parameterType="ProjectPartnerParam">
        update project_partner set manager_flg=#{managerFlg} where id=#{id}
    </update>
    <delete id="delete">
        delete from project_partner where id=#{id}
    </delete>
</mapper>