<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.SceneMapper" >
    <insert id="insert" parameterType="Scene" useGeneratedKeys="true" keyProperty="id">
        insert into scene(`name`, `detail`, `code`,`block_id`, `image_id`, `location_x`, `location_y`)
        values(#{name}, #{detail}, #{code}, #{blockId}, #{imageId}, #{locationX}, #{locationY})
    </insert>
    <insert id="update" parameterType="Scene">
        update scene set id=#{id}
        <if test="name != null and name !=''">
            ,name = #{name}
        </if>
        <if test="detail != null and detail !=''">
            ,detail = #{detail}
        </if>
        <if test="imageId != null">
            ,image_id = #{imageId}
        </if>
        <if test="locationY != null">
            ,location_y = #{locationY}
        </if>
        <if test="locationX != null">
            ,location_x = #{locationX}
        </if>
        <if test="sceneTypeId != null">
            ,scene_type_id = #{sceneTypeId}
        </if>
        where id=#{id}
    </insert>
    <select id="findList" resultType="Scene" parameterType="Query">
        <include refid="com.jones.mars.repository.BaseMapper.startPage" />
        select s.*,si.path as imageUrl
        <if test="projectId != null">
        , ps.seq
        </if>
        from scene s left join block_image si on s.image_id=si.id
        <if test="projectId != null">
        left join project_scene ps on s.id=ps.scene_id
        </if>
        where s.delete_flg=0
        <if test="projectId != null">
            and ps.project_id = #{projectId}
        </if>
        <if test="blockId != null">
            and s.block_id = #{blockId}
        </if>
        <if test="sceneTypeId != null">
            and s.scene_type_id = #{sceneTypeId}
        </if>
        <if test="name != null and name !=''">
            and s.name = #{name}
        </if>
        <if test="projectId != null">
        order by seq
        </if>
        <include refid="com.jones.mars.repository.BaseMapper.endPage" />
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from scene s
        <if test="projectId != null">
        left join project_scene ps on s.id=ps.scene_id
        </if>
        where s.delete_flg=0
        <if test="projectId != null">
            and ps.project_id = #{projectId}
        </if>
        <if test="sceneTypeId != null">
            and s.scene_type_id = #{sceneTypeId}
        </if>
        <if test="blockId != null">
            and s.block_id = #{blockId}
        </if>
        <if test="name != null and name !=''">
            and s.name = #{name}
        </if>
    </select>
    <select id="findAllName" resultType="Scene" parameterType="Query">
        select distinct(s.id), s.name, s.scene_type_id as sceneTypeId, s.code from scene s
        left join project_scene ps on ps.scene_id = s.id
        left join project p on ps.project_id=p.id
        where s.delete_flg=0
        <if test="blockId != null">
            and s.block_id = #{blockId}
        </if>
        <if test="projectId != null">
            and ps.project_id = #{projectId}
        </if>
        <if test="sceneTypeId != null">
            and s.scene_type_id = #{sceneTypeId}
        </if>
        <if test="moduleId != null">
            and p.module_id = #{moduleId}
        </if>
        <if test="classId != null">
            and p.class_id = #{classId}
        </if>
        order by s.name
    </select>
    <select id="findAll" resultType="Scene" parameterType="Query">
        select s.*,si.path as imageUrl
        <if test="projectId != null">
            , ps.seq
        </if>
        from scene s left join block_image si on s.image_id=si.id
        <if test="projectId != null">
            left join project_scene ps on s.id=ps.scene_id
        </if>
        where s.delete_flg=0
        <if test="projectId != null">
            and ps.project_id = #{projectId}
        </if>
        <if test="sceneTypeId != null">
            and s.scene_type_id = #{sceneTypeId}
        </if>
        <if test="blockId != null">
            and s.block_id = #{blockId}
        </if>
        <if test="name != null and name !=''">
            and s.name = #{name}
        </if>
        <if test="projectId != null">
        order by seq
        </if>
    </select>
    <select id="findOne" resultType="Scene">
        select * from scene where id=#{id}
    </select>
    <update id="delete">
        update scene set delete_flg=1 where id=#{id}
    </update>
</mapper>