<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.SceneTypeMapper" >
    <insert id="insert" parameterType="SceneType">
        insert into const_scene_type(`name`, `detail`)
        values(#{name}, #{detail})
    </insert>
    <insert id="update" parameterType="SceneType">
        update const_scene_type set name = #{name}, detail=#{detail} where id=#{id}
    </insert>
    <select id="findList" resultType="SceneType" parameterType="Query">
        <include refid="com.jones.mars.repository.BaseMapper.startPage" />
        select * from const_scene_type
        order by name
        <include refid="com.jones.mars.repository.BaseMapper.endPage" />
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from const_scene_type
    </select>
    <select id="findAllName" resultType="java.lang.Object" parameterType="Query">
        select id, name from const_scene_type
        order by name
    </select>
    <select id="findAll" resultType="SceneType">
        select * from const_scene_type order by name
    </select>
    <select id="findOne" resultType="SceneType">
        select * from const_scene_type where id=#{id}
    </select>
    <delete id="delete">
        delete from const_scene_type where id=#{id}
    </delete>
</mapper>