<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.UserRoleMapper" >
    <insert id="insert" parameterType="UserRoleParam" useGeneratedKeys="true" keyProperty="id">
        <foreach collection="userIds" item="userId" index="index" separator=";">
            insert into user_role(`role_id`, `user_id`, `create_time`, `update_time`)
            values
            (#{roleId}, #{userId}, now(), now())
            ON DUPLICATE KEY UPDATE
            role_id = #{roleId}, user_id=#{userId}, create_time=now(), update_time=now()
        </foreach>
    </insert>
    <select id="findList" parameterType="UserRoleQuery" resultType="UserRole">
        <include refid="com.jones.mars.repository.BaseMapper.startPage" />
        select * from user_role where 1=1
        <if test="roleId != null">
            and role_id=#{roleId}
        </if>
        order by id desc
        <include refid="com.jones.mars.repository.BaseMapper.endPage" />
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from user_role where 1=1
        <if test="roleId != null">
            and role_id=#{roleId}
        </if>
    </select>
    <select id="findAll" parameterType="UserRoleQuery" resultType="UserRole">
        select * from user_role where 1=1
        <if test="roleId != null">
            and role_id=#{roleId}
        </if>
    </select>
    <delete id="delete">
        <if test="enterpriseId != null">
            delete from user_role where role_id in (select id from role where enterprise_id=#{enterpriseId})
            <if test="userId != null">
                and user_id=#{userId}
            </if>
        </if>
        <if test="roleId != null">
            delete from user_role where role_id=#{roleId}
            <if test="userId != null">
                and user_id=#{userId}
            </if>
        </if>
    </delete>
</mapper>