<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.UserLikeMapper" >
    <insert id="insertRecord" parameterType="UserLike" useGeneratedKeys="true" keyProperty="id">
        insert into user_like(`id`, `user_id`, `like_id`,`like_type`,`like_status`,`create_time`,`update_time`)
        values(#{id}, #{userId}, #{likeId}, #{likeType}, #{likeStatus}, now(), now())
        ON DUPLICATE KEY UPDATE
            like_status=#{likeStatus}, update_time=now()
    </insert>
    <select id="findLikeResult" resultType="com.alibaba.fastjson.JSONObject" parameterType="Query">
        select like_status as likeStatus, count(*) as count from user_like where like_type=#{likeType} and like_id=#{likeId}
        <if test='userId != null'>
        and user_id=#{userId}
        </if>
        group by like_status
    </select>
    <delete id="delete"  parameterType="UserLikeParam">
        delete from user_like where like_type=#{likeType} and like_id=#{likeId} and user_id=#{userId}
    </delete>
</mapper>