<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.mars.repository.WeprogramInfoMapper" >
    <insert id="insert" parameterType="WeprogramInfo" useGeneratedKeys="true" keyProperty="id">
        insert into weprogram_info(`name`,`detail`, `app_id`, `app_secret`, `info`)
        values(#{name}, #{detail}, #{appId}, #{appSecret}, #{info})
    </insert>
    <insert id="update" parameterType="WeprogramInfo">
        update weprogram_info set name = #{name}, detail=#{detail}, app_id=#{appId}, app_secret=#{appSecret}, info=#{info} where id=#{id}
    </insert>
    <select id="findList" resultType="WeprogramInfo" parameterType="Query">
        <include refid="com.jones.mars.repository.BaseMapper.startPage" />
        select * from weprogram_info where 1=1
        <if test="name != null and name !=''">
            and name = #{name}
        </if>
        <if test="nameLike != null and nameLike !=''">
            and name like concat('%', #{nameLike}, '%')
        </if>
        order by name
        <include refid="com.jones.mars.repository.BaseMapper.endPage" />
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from weprogram_info where 1=1
        <if test="name != null and name !=''">
            and name = #{name}
        </if>
    </select>
    <select id="findAllName" resultType="java.lang.Object" parameterType="Query">
        select id, name from weprogram_info
        order by name
    </select>
    <select id="findAll" resultType="WeprogramInfo" parameterType="Query">
        select * from weprogram_info where 1=1
        <if test="name != null and name !=''">
            and name = #{name}
        </if>
        order by name
    </select>
    <select id="findOne" resultType="WeprogramInfo">
        select * from weprogram_info where id=#{id}
    </select>
    <delete id="delete">
        delete from weprogram_info where id=#{id}
    </delete>
</mapper>